.form-container {
    margin: auto;
    width: 40%;
    display: flex;
    
}

.form {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
}

form {
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.input{
    width: 30%;
    display: inline-flex;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    margin-right: 5px;
}

.input.task {
    width: 45%;
}

.add-button{
    width: 15%;
    padding: 10px;
    font-size: 10pt;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 10px;
    outline: none;
    background-color: #84C481;
}
.add-button:hover{
    background-color: #ccc;
    cursor: pointer;
}
